.topnav {
  background-color: #191c24;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;

  .search-container {
    max-width: 720px;
    width: 80%;
    .search-form {
      position: relative;
      width: calc(100% - 40px);
      margin: auto;
      input[type="text"] {
        width: 100%;
        padding: 10px 0;
        padding-left: 10px;
        padding-right: 40px;
        margin: 10px 0;
        font-size: 16px;
        border: 1px solid #4e5165;
        box-sizing: border-box;
        background-color: #191c24;
        color: #ffffff;
        font-weight: 400;
      }
      .search-icon {
        padding: 12px 12px;
        margin-top: 10px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        color: #4e5165;
      }
    }
  }
}
